<center class="logo-section">
  <h1 id="logo">
    TonTon<span class="red">.</span>Yt
  </h1>
  <p id="logo-legend">To-Do List</p>
</center>
<input id="new-todo" type='text' placeholder='What you need to do?' />
<div id="todo-list-region"></div>
