%meta{:charset => "utf-8"}

%title TonTonYt To-Do List
%meta{:name => "description", :content => "A simple to-do list built with backbone and marionette."}
%meta{:name => "author", :content => "tonypine"}

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

%link{ :rel => "shortcut icon", :type => "image/x-icon", :href => image_path('favicon.png') }
%link{ rel: "icon", sizes: "192x192", href: image_path('favicon.png') }

= stylesheet_link_tag "application", :media => "all"

%link{ href: "https://fonts.googleapis.com/css?family=Open+Sans:100,400,400i,600,700", rel: "stylesheet" }
%link{ href: "https://fonts.googleapis.com/css?family=Lemon", rel: "stylesheet" }
%link{ href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet" }

= csrf_meta_tags
