%meta{:charset => "utf-8"}

%title TonTonYt To-Do List
%meta{:name => "description", :content => "A simple to-do list built with backbone and marionette."}
%meta{:name => "author", :content => "tonypine"}

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

= stylesheet_link_tag "application", :media => "all"


= csrf_meta_tags
